<?xml version="1.0"?>
<launch>

  <node name="ros_serial"  pkg="rosserial_python"  type="serial_node.py" output="screen" args="/dev/ttyACM0"/>
   
  <node name="odom_enc"  pkg="robot_odom"  type="odom_enc" output="screen"/>

  <node name="rplidarnode"  pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="scan_mode"           type="string"  value="Standard"/>
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>    
  </node>

   <node pkg="tf" type="static_transform_publisher" name="laser_link" args="0 0 0.4 0 0 0  base_link laser 40" />
  
<!--  <node name="map_server"  pkg="map_server"  type="map_server" args="/home/sakson/Desktop/fac.yaml"/>
<include file ="$(find amcl)/examples/amcl_diff.launch"/>
    
   <node name="rviz" pkg="rviz" type="rviz"/>  -->
 
</launch>
